  <div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
      <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-card-no-pd mt--5">
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round ">
          <div class="card-body ">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="flaticon-chart-pie text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-stats">
                <div class="numbers">
                  <p class="card-category">Utilisateurs</p>
                  <h4 class="card-title text-center">150</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body ">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="flaticon-coins text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-stats">
                <div class="numbers">
                  <p class="card-category">Total achats</p>
                  <h4 class="card-title text-center">$ 1,345</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="flaticon-coins text-success"></i>
                </div>
              </div>
              <div class="col-7 col-stats">
                <div class="numbers">
                  <p class="card-category">Total Ventes</p>
                  <h4 class="card-title text-center">$ 5,291</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <i class="flaticon-price-tag text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-stats">
                <div class="numbers">
                  <p class="card-category">Commandes</p>
                  <h4 class="card-title text-center ">400K</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-4">
        <div class="card-dark bg-info-gradient">
          <div class="card-body p-3 text-center ">
            <div class="h1 m-0">48</div>
            <div class=" mb-3">Commandes payées cash</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="card-dark bg-secondary-gradient">
          <div class="card-body p-3 text-center ">
            <div class="h1 m-0">37</div>
            <div class=" mb-3">Commandes payées avec chèque</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 ">
        <div class="card-dark bg-primary-gradient">
          <div class="card-body p-3 text-center ">
            <div class="h1 m-0">99</div>
            <div class=" mb-3">Commandes Ouvertes</div>
          </div>
        </div>
      </div>
    </div>
  </div>

