
<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h3 class="text-white pb-2 fw-bold">Liste des commandes</h3>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Montant</th>
        <th scope="col">Statut</th>
        <th scope="col">Method de Payement</th>
        <th scope="col">Montant Payé</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders | paginate: config">
        <th scope="row">{{order.id}}</th>
        <td>{{order.amount}}</td>
        <td>{{order.status}}</td>
        <td>{{order.payment_method}}</td>
        <td>{{order.amount_paid}}</td>
        <td>
          <button class="btn btn-danger" [swal]="['Suppression!', 'Vous etes sure ?', 'warning']"   style="margin-right: 15px">Supprimer</button>
          <button class="btn btn-info" (click)="openLg(content);getOrderDetailsFromService(order.uuid)">Détails</button>
        </td>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Détails de commande </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <h6><b>Date de commande :</b> </h6>
                <p>{{order.created_at}}</p>
              </div>
              <div class="col-md-6">
                <h6><b>Method de payement :</b></h6>
                <p>{{order.payment_method}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6><b>Montant de commande :</b></h6>
                <p>{{order.amount}}</p>
              </div>
              <div class="col-md-6">
                <h6><b>Reste à payer :</b></h6>
                <p>{{order.rest}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6><b>Articles de commande :</b></h6>
                <div class="row">
                  <div *ngFor="let lineOrder of ordersDetails " class="col-md-6">
                    <p>{{lineOrder.custom_name}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p class="is-loading is-loading-lg" *ngIf="ordersDetails.length<=0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>
      </tr>
      </tbody>
    </table>
    <!--Pagination start-->
    <div class="col-md-12 ">
        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
        <div class="text-center">
              <ul class="pagination pg-default ">
                <li class="page-item">
                  <a class="page-link  cursor-pointer" *ngIf="!p.isFirstPage()" (click)="p.previous()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item " *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                  <a (click)="p.setCurrent(page.value)" class="page-link  cursor-pointer" >{{ page.label }}</a>
                </li>
                <li class="page-item" [class.disabled]="p.isLastPage()">
                  <a class="page-link  cursor-pointer"  aria-label="Next" *ngIf="!p.isLastPage()" (click)="p.next()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only" >Next</span>
                  </a>
                </li>
              </ul>
          </div>
        </pagination-template>
    </div>
    <!--Pagination End-->

    <div class="col-md-12  text-center">
      <br>
      <p class="is-loading is-loading-lg" *ngIf="orders.length<=0"></p>
    </div>
  </div>


</div>
