<div class="container ">
  <div class="row pt-4 ">
    <div class="col-md-6 offset-3 pt-3">
      <div class="card">
        <div class="card-header bg-dark-gradient">
          <h4 class="login-title">Smart Stock App</h4>

        </div>
        <img class="card-img-top"   src="assets/img/store.gif" alt="Card image cap">
        <div class="card-body">
          <div class="login-input-container ">
            <input class="login-input top-container" type="text" name="email" [(ngModel)]="email" placeholder="Enter Email">
          </div>

          <div class="login-input-container ">
            <input class="login-input bottom-container" type="password" [(ngModel)]="password" name="pass" placeholder="Enter password">
          </div>


          <button class="login-button bg-dark-gradient" (click)="login();clicked= !clicked">
            <span class="is-loading is-loading-sm  float-left" *ngIf="clicked"></span>
            Login
          </button >
        </div>
      </div>


    </div>
  </div>
</div>
